﻿@model Pizzeria.Models.Pizza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Składniki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Składniki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            
        </dt>

        <dd>
            <img src="@Url.Content(Model.Photo)" width="230" height="150" alt="Something is no yes" />
        </dd>

    </dl>
</div>
<p>
    <input type="button" class="btn btn-default" value="Edit" onclick="location.href='@Url.Action("Edit", "Pizzas", new { id = Model.Id })';return false;" />
    <input type="button" class="btn btn-default" value="Back to List" onclick="location.href='@Url.Action("Index", "Pizzas")';return false;" />
</p>
