﻿@model Pizzeria.Models.OrderViewModel

@{
    ViewBag.Title = "Harmonogram";
}

<h2>Harmonogram dostaw</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].User.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edges[0].Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edges[0].Time)
        </th>
        <th></th>
    </tr>

    @for (int i=0; i< Model.Orders.Count(); i++)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Orders[i].User.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Edges[i].Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Edges[i].Time)
        </td>
    </tr>
    }

</table>
