﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Pizzeria Politechniki Wrocławskiej<br />
    Wybrzeże Stanisława Wyspiańskiego 27<br />
    Telefon: 666 666 666
</address>
