﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pizzeria PWr</h1>
    <p class="lead">Głodny? Nie czekaj! Złóż zamówienie już teraz!</p>
    <p><a href="/Pizzas/Menu" class="btn btn-primary btn-lg">Menu&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Po starcie aplikacji:</h2>
        <p>
            W bazie danych znajduje się 7 różnych pizz.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Dodaj użytkowników</h2>
        <p>Funkcja automatycznie dodaje użytkowników do bazy danych.</p>
        <p><a class="btn btn-default" href="/Account/Seed">/Account/Seed &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dodaj zamówienia</h2>
        <p>Funkcja automatycznie dodaje zamówienia do bazy danych.</p>
        <p><a class="btn btn-default" href="/Orders/Seed">/Account/Seed &raquo;</a></p>
    </div>
</div>